body
{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.container
{
    max-width: 1024px;
    max-height: 300px;
    margin: 0 auto;
}
.header
{
    background: #2f3a57;
    color: white;
    padding: 1em;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header a
{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
}
.hero h1
{
    font-size: 40px;
    line-height: 1.5em;
    letter-spacing: -.5px;
    /* text-transform: lowercase; */
    color: white;
    margin: 0;
}
.menu
{
    height: inherit;
}
.header ul
{
    display: flex;
    height: inherit;
}
.header ul li 
{
    height: inherit;
}
ol,ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}
.hero
{
    height: 300px;
    background: #2f3a57;
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1em;
    grid-template-areas: "hero-left hero-right"
}
.hero-left
{
    grid-area: hero-left;
    max-height: 250px;
}
.hero-right
{
    grid-area: hero-right;
    max-width: 512px;
}
.hero-image
{
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    max-width: 100%;
    height: 200px;
}
.experiencia
{
    background: #fff;
    color: #fff;
    height: 300px;
    padding: 1em;
    display: grid;
    grid-gap: 5px;
    justify-items: center;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "experiencia-title experiencia-title experiencia-title"
    "icon1 icon2 icon3"
    "icon1 icon2 icon3"
    "icon4 icon5 icon6"
    "icon4 icon5 icon6";
}
.icon
{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background: linear-gradient(to bottom right, #2f3a57, #35609c);
    font-size: 1em;
    justify-content: center;
    align-items: center;
}
.experiencia-title
{
    grid-area: experiencia-title;
    color: #2f3a57;
    font-size: 150%;
}
#icon1
{
    grid-area: icon1;
}
#icon2
{
    grid-area: icon2;
}
#icon3
{
    grid-area: icon3;
}
#icon4
{
    grid-area: icon4;
}
#icon5
{
    grid-area: icon5;
}
#icon6
{
    grid-area: icon6;
}